<h1>Burger Time</h1>

<h2>Here are the options</h2>

<ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{> burgers}}
            <!--need to finish comparing this to the cats activity-->
</ul>