.jumbotron {
    font-family: "Jua";
    font-size: 64;
}

ul, li {
    font-family: "Do Hyeon";
}

button {
    font-family: "Do Hyeon"
}

form {
    font-family: "Do Hyeon";
}

.h2Head {
    font-family: "Jua";
}
